<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Challenge</title>
    </head>
    <body>
        <h1>Challenge</h1>
        <main>
            <h1><%= challenge.challenge_name%></h1>
            <div>
                <a href="/edit-challenge/<%= challenge.id %>?edit=true">Edit</a>
            </div>
        </main>
    </body>
</html>