.react-calendar-heatmap .color-scale-1 { fill: #f1959b; }
.react-calendar-heatmap .color-scale-2 { fill: #f07470; }
.react-calendar-heatmap .color-scale-3 { fill: #ea4c46; }
.react-calendar-heatmap .color-scale-4 { fill: #dc1c13; }