.App {
  text-align: center;
  background: #D6ECF3;
}

html, body {
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logoimg {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  border-radius: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatarPic {
  height: 100px;
  width: 100px;
}

.post {
  background-color: grey;
  margin: auto;
  justify-content: center;
  width: 400px;
  padding: 10px;
}

.postImg{
  height: 200px;
  width: 200px;
}

.Nav {
  background: white;
}
