.CustomNavbar {
  text-align: center;
  background: white;
  font-family: 'Lato';
}

.center_nav {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
}

.switch {
  font-family: 'Lato';
}