.Feed {
  text-align: center;
  background: #D6ECF3;
  font-family: 'Lato';
}

.feed_row {
  padding-top: 20px;
  margin: auto;
  justify-content: center;
  width: 400px;
  padding: 10px;
  font-family: 'Lato';
}
