.Post {
  text-align: center;
  font-family: 'Lato';
}

.post {
  background-color: white;
  margin: auto;
  justify-content: center;
  width: 400px;
  padding: 10px;
  font-family: 'Lato';
}

.comments {
  padding: 10px;
  border-width: 2px;
  border-color: black;
  font-family: 'Lato';
}

.header {
  padding: 10px;
  font-family: 'Lato';
}

.postImg {
  height: 200px;
  width: 400px;
  padding-left: 10px;
}

.avatarPic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-family: 'Lato';
}

.name {
  justify-content: left;
  padding: 0 0.5vw;
}

.gradeicon:focus {
  background-color: blue
}

#comment {
  justify-content: right;
}
